---
import { late } from "astro:schema";

const services = [
    {
        title: "Windows & Doors",
        link: "/services/exterior/windows-doors",
    },
    {
        title: "Decks & Outdoor Spaces",
        link: "/services/exterior/decks-outdoor-spaces",
    },
    {
        title: "Outbuildings & Structures",
        link: "/services/exterior/outbuildings-specialty-structures",
    }
];
---

<section id="services" class="section bg-black">
    <div class="content">
        <h2>Services</h2>
        <hr class="rule">
        <ul id="service_list">
            {
                services.map((item, index) => (
                    <li class="service-item" key={index}>
                        <a href={item.link} class="service-link">
                            <article class="service-article">
                                <h3>{item.title}</h3>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="2rem"
                                    width="2rem"
                                    viewBox="0 -960 960 960"
                                    fill="currentColor"
                                >
                                    <path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z" />
                                </svg>
                            </article>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</section>
