<footer id="footer">
    <div class="content">
        <nav id="footer_nav">
            <ul id="footer_nav_list">
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
                <li>
                    <a href="/contact"> Contact </a>
                </li>
            </ul>
        </nav>
        <a href="https://www.facebook.com/ThresholdRenovationsWinona" class="btn btn-inline btn-fb" target="_blank">
            <svg
                viewBox="0 0 32 32"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                height="2rem"
                width="2rem"
            >
                <path
                    d="M14.023 24L14 17h-3v-3h3v-2c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V14H21l-1 3h-2.72v7h-3.257z"
                >
                </path>
            </svg>
        </a>
        <p>&copy; 2025 Threshold Renovations. All rights reserved.</p>
    </div>
</footer>
