<section class="section" id="section_review">
    <div class="content">
        <div class="content-text text-center">
            <h2>Review Us</h2>
            <hr class="rule">
            <a href="https://www.google.com/search?q=Threshold+Renovations+Winona+MN" class="btn">Leave a Review</a>
            <a href="mailto:info@thresholdrenovations.com?subject=Testimonial&body=I would like to provide the following testimonial:" class="btn">Create a Testimonial</a>
        </div>
    </div>
</section>