@use "./reset";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    --bg-grey: rgb(44, 44, 44);
    --off-black: #1e1e1e;
    --blacker: #141414;
    --body-orange: rgb(253, 127, 17);
    --green: #39AC47;
    --purple: #8E85D6;
    --navy-blue: #133938;
    --gold: #9D9234;
    --light-grey: #bfbcbc;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif;
}


hr {
    border-top: 2px solid var(--blacker);
}

.text-center {
    text-align: center;
}

body {
    background: var(--bg-grey);
    color: var(--light-grey);
    margin: 0;
    position: relative;
}

#logo {
    width: 100%;
    height: auto;
    // mix-blend-mode: multiply;
    // filter: drop-shadow(0px 0px 1rem rgba(0, 0, 0, 0.5));
    // filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, .75));
}

#nav_main {
    position: sticky;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
}

#nav_bar {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0.5rem;
    background: var(--off-black);
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.333);
    border-bottom: 2px solid rgba(255, 255, 255, .1);
}

#nav_toggle {
    background: none;
    border: none;
    cursor: pointer;
    // padding: 0.5rem;
    color: var(--light-grey);
    height: 2.25rem;
    width: 2.25rem;

    span {
        display: block;
        width: 100%;
        height: 2px;
        background: currentColor;
        margin: 0.25rem 0;
        transition: all 0.3s ease;
    }
}

#nav_content {
    height: 0px;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    left: 0;
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.75);
}

#nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #222;
    padding: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);

    li:nth-child(5) {
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        padding-top: 1rem;
    }
}

.nav-link {
    padding: 1rem;
    text-decoration: none;
    color: var(--light-grey);
    text-transform: uppercase;
    background: var(--blacker);
    ;
    display: block;
    text-align: center;
    // border:1px solid rgba(255,255,255,0.1);
    border-radius: 2rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.25);

    &.nav-link-primary {
        // background: var(--body-orange);
        background: linear-gradient(45deg, rgb(253, 127, 17), rgb(227 159 29), rgb(253, 127, 17));
        background: linear-gradient(45deg, #08918c, #1a9f65, #08918c);
        // color: var(--blacker);

        &:hover {
            color: initial;
        }
    }

    &.nav-link-secondary {
        background: linear-gradient(45deg, rgb(253, 127, 17), rgb(227 159 29), rgb(253, 127, 17));
        color: var(--blacker);

        // background:yellow;/
        // color:var(--blacker);
    }
}

.open {
    span:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
    }

    span:nth-child(2) {
        opacity: 0;
    }

    span:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -5px);
    }

    #nav_content {
        height: auto;
        overflow-y: auto;
    }
}

#hero_main {
    position: relative;
    height: calc(100vh - 52px);

    // position: relative;
    // height: auto;
    /* full screen height */
    overflow: hidden;
    // border-bottom: 2px solid var(--body-orange);
}

.hero {
    text-align: center;
    display: grid;
    place-items: center;

    background-size: cover;
    background-position: 50% 50%;
    border-bottom: 2px solid rgba(255, 255, 255, .1);

    h2 {
        // background: var(--off-black);
        background: #1e1e1ecf;
        color: #bfbcbc;
        padding: 1rem;
        border-radius: 1rem;
    }

    // color:var(--blacker)
}

#hero_video {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // min-width: 100%;
    // min-height: 100%;
    width: auto;
    height: 100%;
    width: 100%;
    z-index: -1;
    // transform: translate(-50%, -50%);
    object-fit: cover;
    /* keeps it from stretching */
    top: 0;
    right: 0;
    left: 0;
}


.hero-content {
    padding: 1rem 1rem 1.5rem;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    // top: 50%;
    // transform: translateY(-50%);
    height: 100%;

}

.btn {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1rem;
    // background: var(--blacker);
    // background: #1e1e1e;
    background: linear-gradient(45deg, #1e1e1e, #0e0e0e, #1e1e1e);
    // color: var(--light-grey);
    color: #f1f1f1;
    // text-shadow: 0px 0px 0.75rem darken(#39AC47, 25%);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
    display: block;
    box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.125);
    margin-bottom: 1rem;
    transition: transform .3s ease-in-out;
    // border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:active {
        transform: scale(0.95);
    }
}

.btn-primary {
    // color: var(--off-black);
    // color: var(--light-grey);
    // background: var(--green);
    color: #f1f1f1;
    // background: rgb(8 145 140 / 85%);
    // background: #08918c;
    background: linear-gradient(45deg, #08918c, #1a9f65, #08918c);
    // border: 1px solid rgb(0 0 0 / 22%);
}

.btn-inline {
    display: inline-block;
}

.btn-fb {
    background: #1876f2da;
}

.section {
    box-shadow: inset 0px 0px 1.5rem rgba(0, 0, 0, 0.25);
    border: top 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.content {
    padding: 1rem;

    h2 {
        font-size: 1.75rem;
        color: var(--light-grey);
        margin-bottom: 0.75rem;
        // margin-bottom: 1rem;
        text-align: center;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.bg-black {
    background: var(--off-black)
}

#service_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.service-item {}

.service-link {
    border-radius: 0.5rem;

    overflow: hidden;
    text-decoration: none;
    display: block;
    // color: var(--gold);
    background: var(--blacker);
    margin-bottom: 1rem;
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.25);
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.75);
    transition: transform .3s ease-in-out;

    background-size: cover;
    background-position: 50% 50%;
    transition: transform .1s ease-in-out;

    &:active {
        transform: scale(0.95);
    }

    &:hover {
        transform: scale(1.025);
        cursor: pointer;
    }

    h3 {
        color: #f1f1f1;
        text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.75);
        font-size: 1.125rem;
        margin: 0;
        font-weight: 500;
    }

    svg {
        filter: drop-shadow(0px 0px 0.5rem rgba(0, 0, 0, 0.75));
    }
}

.service-article {

    color: var(--light-grey);
    padding: 1.25rem 1rem;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.service-link[href="/services/kitchen-remodeling"] {
    background-image: url('/assets/img/services/services-component/kitchen-remodeling.webp');
}

#hero_kitchen,
#hero_bid {
    background-image: url('/assets/img/services/services-component/large/kitchen-remodeling.webp');
}

.service-link[href="/services/bathroom-remodeling"] {
    background-image: url('/assets/img/services/services-component/bathroom-remodeling.webp');
}

#hero_bathroom {
    background-image: url('/assets/img/services/services-component/large/bathroom-remodeling.webp');
}

.service-link[href="/services/basement-finishing"] {
    background-image: url('/assets/img/services/services-component/basement-finishing.webp');
}

#hero_basement {
    background-image: url('/assets/img/services/services-component/large/basement-finishing.webp');
}

.service-link[href="/services/drywall-installation-repair"] {
    background-image: url('/assets/img/services/services-component/drywall-installation.webp');
}


#hero_drywall {
    background-image: url('/assets/img/services/services-component/large/drywall-installation.webp');
}

.service-link[href="/services/flooring-installation"] {
    background-image: url('/assets/img/services/services-component/flooring-installation.webp');
}

#hero_flooring,
#hero_about {
    background-image: url('/assets/img/services/services-component/large/flooring-installation.webp');
}

.service-link[href="/services/windows-doors"] {
    background-image: url('/assets/img/services/services-component/windows-doors.webp');
}

#hero_windows {
    background-image: url('/assets/img/services/services-component/large/windows-doors.webp');
}

.service-link[href="/services/decks-outdoor-spaces"] {
    background-image: url('/assets/img/services/services-component/decks-outdoor-spaces.webp');
}

#hero_decks {
    background-image: url('/assets/img/services/services-component/large/decks-outdoor-spaces.webp');
}

.service-link[href="/services/custom-carpentry"] {
    background-image: url('/assets/img/services/services-component/custom-carpentry.webp');
}

#hero_carpentry {
    background-image: url('/assets/img/services/services-component/large/custom-carpentry.webp');
}

.service-link[href="/services/outbuildings-specialty-structures"] {
    background-image: url('/assets/img/services/services-component/animal-dwellings.webp');
}

#hero_outbuildings {
    background-image: url('/assets/img/services/services-component/large/animal-dwellings.webp');
}

.service-link[href="/services/other-renovations"] {
    background-image: url('/assets/img/services/services-component/other-renovations.webp');
}

#hero_other {
    background-image: url('/assets/img/services/services-component/large/other-renovations.webp');
}

#hero_services,
#hero_contact {
    background-image: url('/assets/img/services/tiling/2.jpg');
}

#testimonial_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.testimonial-quote {
    margin: 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #222;
    margin-bottom: 1rem;
    color: var(--light-grey);
    font-style: italic;
    background: linear-gradient(138deg, #222, #252726, #222);
    border: 1px solid rgb(0 0 0 / 24%);
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.25);
}

// .testimonial-name {
//     text-align:right;
//     *::before {
//         content: "- ";
//     }
// }
.testimonial-name cite {
    font-weight: 600;
    font-style: normal;
    color: #f1f1f1;

}

#testimonial_list blockquote {
    font-size: 1.125rem;
}

.picture {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    img {
        width: 100%;
    }

    .caption {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
        background: rgba(0, 0, 0, 0.75)
    }
}

.form-input {
    width: 100%;
    padding: 1rem;
    // border: 2px solid #9d923485;
    border: 2px solid rgb(93 93 93 / 52%);
    border-radius: 0.5rem;
    background: var(--blacker);
    color: var(--light-grey);
    font-size: 1rem;
    font-family: "Cabin", sans-serif;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 1rem rgba(0, 0, 0, 0.25);

    &:focus {
        outline: none;
        border-color: var(--body-orange);
    }
}


#details {
    height: 136px;
}

#footer {
    border-top: 2px solid var(--body-orange);
    font-size: 0.75rem;
    text-align: center;
    background: linear-gradient(45deg, #232121, #1a1818, #232121);

    .content {
        max-width: 128ch;
        margin: 0 auto;
    }

    .btn {
        margin-top: 1rem;
    }
}

#footer_nav {}

#footer_nav_list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
        margin: 0.5rem 0.25rem .5rem 0.25rem;

        a {
            text-decoration: none;
            color: var(--light-grey);
            background: var(--blacker);
            padding: 0.5rem 1rem;
            border-radius: 1rem;

            &:hover {
                color: var(--body-orange);
            }
        }
    }
}

@media (min-width: 414px) {
    #hero_main {
        height: auto;
    }

    #logo {
        max-width: 18ch;
    }

    .hero-content {
        width: 100%;

        .btn {
            display: block;
            max-width: 12ch;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
    }

    .btn-fb {
        display: inline-block;
        // width: 4rem;
        border-radius: 50%;
        padding: 0.25rem;
    }

    #service_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;
    }

    #testimonials {
        text-align: center;
    }

    .testimonial-quote {
        text-align: left;
        max-width: 32ch;
        margin: 0 auto 1rem;
    }

    .section {
        .btn {
            max-width: 18ch;
            margin: 0 auto 1rem;
        }
    }

    #section_review {
        .btn {
            max-width: 18ch;
            margin: 1rem auto;
        }
    }

    @media (min-height: 667px) {
        #logo {
            max-width: 32ch;
        }
    }
}


.rule {
    max-width: 3rem;
    margin: 0rem auto 2rem;
    border-top: 3px solid var(--gold);
}

.content-text {
    margin: 0 auto;
    max-width: 56ch;
    text-align: left;
}

@media (min-width: 768px) {
    #logo {
        // max-width: 48ch;
        max-width: 42ch;
    }

    .hero-content {

        .btn {
            display: block;
            min-width: 12ch;
        }

        .btn.btn-fb {
            display: inline-block;
            width: 4rem;
        }
    }

    .section .content {
        text-align: center;
    }

    #testimonial_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        margin-bottom: 1.5rem;

        .testimonial-quote {
            height: 100%;
        }
    }

}

@media (min-width: 1024px) {
    #nav_main {
        // position:static;
        top: 0;
    }

    #nav_bar {
        display: none;
    }

    #nav_content {
        height: auto;
        display: inline-block;
        box-shadow: none;
    }

    #nav_list {
        display: inline-flex;
        justify-content: end;
        align-items: center;
        float: right;
        margin-top: 0.5rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 1rem 0.5rem;
        backdrop-filter: blur(0.5rem);

        li {
            &:nth-child(5) {
                padding-top: 0;
                color: var(--blacker);
                border: none;
            }
        }
    }

    .nav-link {
        margin: 0 0.5rem 0;
        transition: transform .3s ease-in-out, background-color .3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            // background: var(--light-grey);
            color: var(--body-orange);
        }
    }



    #testimonial_list {
        grid-gap: 2rem;
        max-width: 64ch;
        margin: 0 auto 1rem;
    }

    .testimonial-quote {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    // #logo {
    //     margin-top: 2rem;
    // }

    .hero {
        // margin-top: 4rem;
        padding-top: 6rem;

        h2 {
            font-size: 2.5rem;
            padding-right: 2rem;
            padding-left: 2rem;
            margin-bottom: 3rem;
        }
    }

    .hero-content {
        background: none;
    }

    // .content-text .form-input {
    //     max-width:36ch;
    //     margin:0 auto 1rem;
    // }
}

@media (min-width: 1536px) {
    #service_list {
        max-width: 88ch;
        margin: auto auto;
    }

    .service-item:last-child {
        grid-column: span 3;
    }
}